body {
  font-family: Verdana, sans-serif;
  margin: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

ul,
ol,
dl
 {
  margin: 0;
  padding: 0;
}

li,
dd {
  list-style: none;
}

a {
  text-decoration: none;
}
