html {
  /* font */
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-2xl: 22px;
  --font-3xl: 24px;

  /* base size */
  --size-xs: 4px;
  --size-sm: 8px;
  --size-md: 12px;
  --size-lg: 16px;
  --size-xl: 20px;
  --size-2xl: 24px;
  --size-3xl: 28px;
  --size-4xl: 32px;

  /* gap */
  --gap-xs: var(--size-xs);
  --gap-sm: var(--size-sm);
  --gap-md: var(--size-md);
  --gap-lg: var(--size-lg);
  --gap-xl: var(--size-xl);
  --gap-2xl: var(--size-2xl);
  --gap-3xl: var(--size-3xl);
  --gap-4xl: var(--size-4xl);

  /* horizontal padding */
  --horizontal-padding-xs: var(--size-xs) var(--size-md);
  --horizontal-padding-sm: var(--size-sm) var(--size-lg);
  --horizontal-padding-md: var(--size-md) var(--size-xl);
  --horizontal-padding-lg: var(--size-lg) var(--size-2xl);
  --horizontal-padding-xl: var(--size-xl) var(--size-3xl);
}
