.gradient-border {
  --border-width: 4px;

  --at-apply: relative overflow-hidden p-$border-width;
}

.gradient-border::before {
  --at-apply: content-empty absolute inline-block inset--100vw z--2;

  background: conic-gradient(var(--color-primary) 0%, var(--bg-color) 10%);
  animation: route linear 2s infinite;
}

.gradient-border::after {
  --at-apply: content-empty absolute inline-block inset-$border-width z--1 bg-$bg-color b-rd-inherit;
}

@keyframes route {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

.light {
  --sm-width: 6px;
  --lg-width: 20px;
  --shadow-color: var(--color-primary);

  animation: light 3s ease-in-out infinite;
  box-shadow: 0 0 var(--sm-width) 1px var(--shadow-color);
}

@keyframes light {
  0% {
    box-shadow: 0 0 var(--sm-width) 1px var(--shadow-color);
  }

  50% {
    box-shadow: 0 0 var(--lg-width) 1px var(--shadow-color);
  }
}
