.prose.prose-md {
  --un-prose-font-mono: "DM mono";
  --at-apply: max-w-120ch;
}

.prose pre:not(.shiki) {
  --at-apply: p-0;
}

.prose .shiki {
  --at-apply: text-1.2em lh-1.4em;
}

.prose img {
  --at-apply: w-full;
}

.prose :where(h1, h2, h3, h4, h5, h6) code {
  --at-apply: whitespace-pre-wrap;
}

.shiki-light {
  --at-apply: bg-#f8f8f8!;
}

.shiki-dark {
  --at-apply: bg-#0e0e0e!;
}

html.dark .shiki-light {
  --at-apply: display-none;
}

html:not(.dark) .shiki-dark {
  --at-apply: display-none;
}
