ol.order {
  counter-increment: group;
  display: list-item;
}

ol.order li {
  counter-increment: num;
  padding-inline-start: 1em;
}

ol.order li::marker {
  content: "#" counter(num);
  font-size: 1em;
  font-family: "DM mono";
}
