---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, 'link', { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  .link,
  .link:visited {
    --color: LinkText;

    display: inline-block;
    color: var(--color);
    text-decoration: none;
  }
  .link.active {
    font-weight: bolder;
    text-decoration: underline;
  }
  .link:hover,
  .link:focus-within {
    color: hsl(from var(--color));
    text-decoration: underline;
  }
</style>
