---
import BaseHead from '@/layouts/BaseHead.astro'
import Header from '@/layouts/Header.astro';
import Footer from '@/layouts/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts'
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <slot name="head">
      <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
      <slot name="extra-head" />
    </slot>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
