---
import HeaderLink from "@/components/HeaderLink.astro";
import { SITE_TITLE } from "@/consts";
import NavList from '@/components/nav/NavList.astro';

const navs = [
  { url: '/', title: 'Home' },
  { url: '/posts', title: 'Posts' },
  { url: '/about', title: 'About' },
]

---

<header>
  <h1 class="site-header">
    {SITE_TITLE}
  </h1>
  <NavList navs={navs} />
</header>
<style>
  header {
    margin-block-end: 2em;
  }
  h1 {
    margin-block: 0.5em;
  }
</style>
